In [1]:
5+5

10

In [1]:
6>3

True

In [2]:
5**3

125

In [3]:
7/2

3.5

In [4]:
7//2

3

In [5]:
'hi' in 'heroine'

False

In [6]:
56 in ['56',45, 34]

False

In [9]:
a = 45
b = 45.0
c = 45+0j
print(a,b,c, sep='\n')

45
45.0
(45+0j)

In [11]:
type(a),type(b),type(c),

(int, float, complex)

In [12]:
d = 'hello this is a new world'
len(d)

25

In [15]:
d[len(d)-1]

'd'

In [16]:
d[-1]

'd'

In [18]:
e = [4,7,8,'hi','new',45]
f = (4,7,8,'hi','new',45)
f1 = 4,7,8,'hi','new',45
e[0]
print(type(f),type(f1))

<class 'tuple'> <class 'tuple'>

In [19]:
e.append(78)
e

[4, 7, 8, 'hi', 'new', 45, 78]

In [20]:
e.insert(4,'hello')
e

[4, 7, 8, 'hi', 'hello', 'new', 45, 78]

In [21]:
g = {'a':[4,5,6],'b':[45454,565,6876]}
g

{'a': [4, 5, 6], 'b': [45454, 565, 6876]}

In [22]:
g['a']

[4, 5, 6]

In [23]:
g['a'].append('hi')

In [24]:
g

{'a': [4, 5, 6, 'hi'], 'b': [45454, 565, 6876]}

In [25]:
# Conditional
# if-elif-else
if 7>4:
    print('hi')
    print('now')

hi
now

In [27]:
a = b = c = 10
c += 3
b /= 3
if a>b and a>c:
    print('a:',a)
elif b>c and b>a:
    print('b:',b)
else:
    print('c:',c)

c: 13

In [28]:
# Looping
# while, for
while a > 0:
    print('wow')
    a -= 2

wow
wow
wow
wow
wow

In [29]:
d

'hello this is a new world'

In [31]:
k = [4,8,2]
for i in k:
    print(i*4)

16
32
8

In [32]:
for i in range(1,11,1):      # start, end-1, stepsize
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [34]:
def kuch_naya():
    print('kuch bhi')

In [38]:
k = kuch_naya()
print(k)

kuch bhi
None

In [36]:
def kuch_purana(x,y):
    return x+y

In [39]:
m = kuch_purana(3,4)
print(m)

7

In [40]:
m

7

In [41]:
special = lambda x,y : x+y

In [42]:
special(5,7)

12

In [46]:
import math
math.floor(9.9)

9

In [47]:
import math as m
m.ceil(3.1)

4

In [45]:
from math import floor
floor(9.4)

9

In [49]:
!python3.10 -m pip install django

Collecting django
  Downloading Django-4.2.2-py3-none-any.whl (8.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 5.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: asgiref<4,>=3.6.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from django) (3.7.2)
Collecting sqlparse>=0.3.1 (from django)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from asgiref<4,>=3.6.0->django) (4.5.0)
Installing collected packages: sqlparse, django
Successfully installed django-4.2.2 sqlparse-0.4.4

In [50]:
import django